h1 {
    background: red;
}

.paragraph_1 {
    background: pink;
    border: 10mm ridge rgba(211, 220, 50, .6);
    border-radius: 20pt;
    font-size: 50pt;
}

.paragraph_2 {
    background: rgb(118, 187, 100);
    border: 3mm solid;
    border-radius: 20pt;
    font-size: 50pt;
}

.paragraph_3 {
    background: rgb(201, 211, 66);
    border: 5mm dashed red;
    border-radius: 20pt;
    font-size: 50pt;
}

.paragraph_4 {
    text-align: center;
    font-size: 24px;
    text-shadow: 2px 2px rgba(97, 179, 255, 0.685);
}